*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;700&display=swap');

#main{
    width:100%;
    height:100vh;
    background: rgb(225, 236, 240);
    display:flex;
    justify-content: center;
    align-items: center;
}
#helpBox{
    background: linear-gradient(130deg,rgb(154, 208, 226),rgb(219, 234, 240));
    width:65%;
    height:75vh;
    border-radius: 20px;
    overflow: scroll;
    /* font-family: "Teko",sans-serif; */
/*     font-family: 'Teko', sans-serif; */
    font-weight: 400;
    font-size: 29px;
}
#helpTit{
    text-shadow: 2px 2px 2px rgb(0, 110, 255) ;
    /* text-shadow: inset 1px 1px 1px blue; */
    color:white;
    text-align: center;

}
#help-list{
    text-indent:1em;
    word-spacing:0.5em;
    font-size: 0.6em;
    background: linear-gradient(darkblue,black);
    -webkit-background-clip:text;  
    background-clip:text;  
}
#backbtn{
    position: absolute;
    top:2%;
    left:2%;
    width:2.2rem;
    height:2.2rem;
    background-image: url("back.png");
    background-size: cover;
    /* background: red; */
    border-radius:10px;
}
#backbtn:hover{
    filter:hue-rotate(20deg);
}

.instructs{
    margin:1em;
    border:2px solid black;
    border-radius:5px;
    cursor:pointer;
    list-style-position: inside;
    font-family:cursive;
    /* padding:1px; */
    /* background: linear-gradient(130deg,blue,lightblue); */
}
.instructs:hover{
    color:white;
    background: linear-gradient(200deg,darkblue,rgb(0, 162, 255));
}

::-webkit-scrollbar{
    width:10px;
}
::-webkit-scrollbar-track{
    background: rgb(214, 230, 235);
}
::-webkit-scrollbar-thumb{
    background: rgb(0, 162, 255);
}
::-webkit-scrollbar-thumb:hover{
    background: darkblue;
}
